<li>
	<div>
		<a href='{{ url('facultyinfo_firstparty_' ~ name ~ '_overview') }}' target='_self'><img class='check_path' src='{{ icon }}' alt='{{ nameTrans|trans }}' />
	    <p><span style="font-weight: 700">{{ nameTrans|trans }}</span></p></a>
	</div>
</li>