<tr>
	<td colspan="3" class="groupingRow">{{ title }}</td>
	<td class="groupingRow">
		{{ include(':Button:spacer.html.twig') }}
		{{ include(':Button:edit.html.twig', { 'url' : url('facultyinfo_firstparty_mapmarker_category_update', { 'categoryId' : id } ) } ) }}
		{{ include(':Button:delete.html.twig', { 'url' : url('facultyinfo_firstparty_mapmarker_category_delete', { 'categoryId' : id } ) } ) }}
	</td>
</tr>