<tr>
	<td class="indent"></td>
	<td>{{ title }}</td>
	<td>{% trans with { '%entries%' : entries } %}firstParty.mapmarker.overview.count{% endtrans %}</td>
	<td>
		{{ include(':Button:detail.html.twig', { 'url' : url('facultyinfo_firstparty_mapmarker_category', { 'categoryId' : id } ) } ) }}
		{{ include(':Button:edit.html.twig', { 'url' : url('facultyinfo_firstparty_mapmarker_category_update', { 'categoryId' : id } ) } ) }}
		{{ include(':Button:delete.html.twig', { 'url' : url('facultyinfo_firstparty_mapmarker_category_delete', {'categoryId' : id, 'confirmed' : 0 } ) } ) }}
	</td>
</tr>